/* ===== 全体設定 ===== */

*{
box-sizing:border-box;
margin:0;
padding:0;
}

html{
font-size:14px;

}

body{
background:#f4f6f8;
color:#111;
line-height:1.6;
background:url(back/2.jpg);
}

body{
font-family:"Noto Sans JP",sans-serif;
}

h1,h2,h3{
font-family:"Zen Old Mincho",serif;
}

p,a{
    font-family:"Zen Old Mincho",serif;
    font-weight:200;
}


/* ===== Header ===== */

header{
position:fixed;
top:0;
width:100%;
background-color:white;
z-index:1000;
display:flex;
align-items:center;
justify-content:space-between;
padding-left:25px;
padding-right:30px;
padding-top:10px;
background:url(back/2.jpg);
}

header .navi ul{
display:flex;
}

header li{
margin-left:2px;
padding-left:30px;
}

header .navi a{
font-size:17px;
padding-right:2px;
}

header .mokuroku a{
font-size:17px;
padding-right:40px;
text-decoration:underline;
font-weight:400;
}

/* ===== Main ===== */

main{
max-width:var(--max-width,1200px);
margin:15px auto;
padding:100px 12px;
background-color:rgba(255,255,255,0.30);
border-radius:8px;
box-shadow:0 6px 18px rgba(0,0,0,0.03);
}

.panel{
background:#fff;
padding:1.2rem;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
height: 670px;
}

h1{
font-size:2.0rem;
margin-bottom:1.5rem;
}

.panel p{
font-size:1.2rem;
margin-bottom:0.85rem;
padding-top: 0.5rem;
}

/* ===== Google Sheet ===== */

.sheet-wrap{
width:100%;
overflow-x:auto;
}

.sheet-wrap iframe{
padding-top:20px;
width:100%;
height:65vh;
border:none;
border-radius:6px;
}

/* ===== Footer ===== */

.site-footer{
text-align:center;
background:#1b2a3a;
color:#fff;
font-size:0.85rem;
padding:30px;
}

/* ===== Back to top ===== */

.back-to-top{
position:fixed;
bottom:30px;
right:30px;
width:55px;
height:55px;
background:#1b2a3a;
color:#fff;
text-align:center;
line-height:55px;
border-radius:50%;
text-decoration:none;
font-size:1.2rem;
}

.back-to-top:hover{
opacity:0.7;
}


.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  opacity: 1;
  animation: fadeOut 4s forwards;
  z-index: 1000;
  position: fixed;
  left: 100px;
  right: 100px;
  top: 300px;
  border-radius: 14px;
  text-align: center;
  border-color:gray;
}

.popup p{
  font-size: 18px;
}

/* フェードアウトのアニメーション */
@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }  /* しばらく表示 */
  100% { opacity: 0; } /* 消える */
}